workflow.json
{
  "name": "Price Watcher — alertas de precio",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "f1a2b3c4-0001-4a00-8000-000000000001",
      "name": "Cada 6 horas",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "command": "python3 /ruta/a/price-watcher/src/main.py --json"
      },
      "id": "f1a2b3c4-0002-4a00-8000-000000000002",
      "name": "Ejecutar Price Watcher",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// La salida del script llega como texto en stdout. La parseamos\n// y devolvemos un item por cada producto que tenga alert = true.\nconst raw = $input.first().json.stdout || '[]';\nconst results = JSON.parse(raw);\nreturn results.filter(r => r.alert).map(r => ({ json: r }));"
      },
      "id": "f1a2b3c4-0003-4a00-8000-000000000003",
      "name": "Filtrar bajadas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🔻 *¡Bajada de precio!*\n\n*{{ $json.name }}*\nPrecio actual: *{{ $json.current_price }} {{ $json.currency }}*\nTu umbral: {{ $json.target_price }} {{ $json.currency }}\n{{ $json.url }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "f1a2b3c4-0004-4a00-8000-000000000004",
      "name": "Avisar por Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 300],
      "credentials": {
        "telegramApi": {
          "id": "REEMPLAZA_CON_TU_CREDENCIAL",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Cada 6 horas": {
      "main": [[{ "node": "Ejecutar Price Watcher", "type": "main", "index": 0 }]]
    },
    "Ejecutar Price Watcher": {
      "main": [[{ "node": "Filtrar bajadas", "type": "main", "index": 0 }]]
    },
    "Filtrar bajadas": {
      "main": [[{ "node": "Avisar por Telegram", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {
    "templatecredsSetupCompleted": false
  }
}
